<!-- template/home.html -->

{% extends 'base.html' %}

{% block content %}

<h1>Homepage</h1>

<style>
    *{ margin:0; padding:0; border:0; }
    HTML ,BODY{ height:100%; margin:0; padding:0; border:0; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; -ms-webkit-font-smoothing: antialiased;}
    BODY{ text-align:center; }    
</style>

<body>
    <h2>
        <b>
            Bolo de cenoura</br></br>
            4 ovos</br>
            4 cenouras</br>
            2 xícaras de açúcar</br>
            2 xícaras de farinha de trigo</br>
            1 xícara de óleo</br>
            1 colher de sopa de fermento</br>
            Aí eu unto o tabuleiro com óleo</br>
            E deixo uns quarenta minutos no forno</br>
            Bato tudo no liquidificador</br>
           </b>
    </h2>
    
</body>

{% endblock content %}